<a href="https://colab.research.google.com/github/harshydv024/wctm/blob/main/harshydv_03_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: print range of first 20  no

for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#write a code of table of 5

for i in range(5,55,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#write a code print vowels?(capital and small letters)
vowel = ['A','E','I','O','U','a','e','i','o','u']
print(vowel)

['A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u']

In [ ]:
#wap to print area of circle
l = eval(input("enter the length"))
b = eval(input("enter the breadth"))
area = l*b
print("the are is =",area)

enter the length6
enter the breadth5
30

In [ ]:
#wap to print area of circle
r = eval(input("enter the radius"))
area = 3.14*r*r
print("the are is =",area)

enter the radius10
the are is = 314.0

In [ ]:
# prompt: write a code to print your name , course name , college name and email address

name = input("Your Name")
course_name = input("Your Course Name")
college_name = input("Your College Name")
email_address = input("your.email ")

print("Name:", name)
print("Course Name:", course_name)
print("College Name:", college_name)
print("Email Address:", email_address)

Your Namesiddhant
Your Course Nameaids
Your College Namewctm
your.email siddhant70@gmail.com
Name: siddhant
Course Name: aids
College Name: wctm
Email Address: siddhant70@gmail.com

In [ ]:
#write a code to print all non vowels in given string
string = input("enter the string")
vowels = ["a","e","i","o","u","A",'E','O','U','I']
for i in string:
  if i not in vowels:
    print(i)

enter the stringwow pop
w
w

p
p

In [ ]:
#wap to display the defination of python with example
print("Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.")

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.

In [ ]:
#wap to display the odd/even number
num = eval(input("enter the number"))
if num%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter the number20
the number is even

In [ ]:
#wap a code to show the largest number?
a = eval(input("enter the first the number"))
b = eval(input("enter the second the number"))
if a>b:
  print("first is largest")
else:
  print("second is largest, i,e :",b)

enter the first the number40
enter the second the number59
second is largest, i,e : 59

In [ ]:
a,b=10,20
min = a if a<b else b
max =a if b<a else b
print(min)
print(max)

10
20

In [ ]:
x,y=24,20
list = [10,20,30,40,50]
if x  not in list:
  print('x not in list')
else:
  print('x in list')

if y  not in list:
  print('y not in list')
else:
  print('y in list')

x not in list
y in list

In [ ]:
expr = 10+20*30
print(expr)
name='Alex'
age=0

if name=='Alex' or name=='John' and age>=2:
  print('Hello!Welcome.')

else:
  print('Good Bye')

610
Hello!Welcome.

In [ ]:
name="madhavi"
age=0

if name=="madhavi" or name=="rahul" and age>=2:
  print("hello welcome")

else:
  print("good bye")

hello welcome

In [ ]:
name="anup" or name=="ajay"
print("good bye")

good bye

In [ ]:
print(100/ 10*10)
print(5-2-3)
print(5-10*2)

100.0
0
-15

In [ ]:
print(100*20-50)
print(70-9-80)
print(50/2)

1950
-19
25.0

In [ ]:
print(4444%98)
print(557%34)

34
13

In [ ]:
print(76_98-300)

7398

In [ ]:
num1 = float(input("45:"))
num2 = float(input("34:"))

#compare the number
if num1>num2:
 print("the largest number is",num1)

if num2>num1:
 print("the largest number is",num2)

45:45
34:34
the largest number is 45.0

In [ ]:
num = float(input("24:"))

#check the number
if num > 0:
  print("the number is postive")

24:24
the number is postive

In [ ]:
a = input("45:")
b = input("56:")

a,b = a,b
print("after swapping")

45:45
56:56
after swapping

In [ ]:
num = int(input("4"))

print(f"multiplication table of{num:}")
for i in range(1,11):
  print(f"{num}*{i} = {num*i}")

44
multiplication table of4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

In [ ]:
#sum of all digit in a number
num = int(input("Enter a number: "))
sum_of_digits = 0
temp_num = num
while temp_num > 0:
  digit = temp_num % 10
  sum_of_digits += digit
  temp_num //= 10
print(f"The sum of the digits of {num} is: {sum_of_digits}")

Enter a number: 10
The sum of the digits of 10 is: 1

In [ ]:
#print reverse oder of list of numbers
numbers = [1, 2, 3, 4, 5]
reverse_numbers = numbers[::-1]
print(reverse_numbers)

[5, 4, 3, 2, 1]

In [ ]:
#check the vowel present in a string
string = input("enter the string")
vowels = ["a","e","i","o","u","A",'E','O','U','I']
for i in string:
  if i in vowels:
    print(i)

enter the stringeiewufwugwe
e
i
e
u
u
e

In [ ]:
#code to implement basic arithmetic operation on integers
num1 = 5
num2 = 2

sum =num1+num2
diffrence =num1-num2
product =num1*num2
quotient =num/num2
print(sum)
print(diffrence)
print(product)
print(quotient)

7
3
10
5.0

In [ ]:
num1 = 30
num2 = 35
num3 = 45
if num1>num2 and num1>num2:
 print("num1 is greater")
elif num2>num1 and num2>num3:
  print("num2 is greater")
else:
  print("num3 is greater")

num3 is greater

In [ ]:
list =[3,1,4]
list.append(5)
list.pop(1)
list
list.sort()
list

[3, 4, 5]

In [ ]:
tuple = (10,20,30)
#accessing elements
print(tuple[1])

#tuple unpacking
a,b,c = tuple
print(a,b,c)

20
10 20 30

In [ ]:
list = [3,1,4]

#append()
list.append(5)

#pop()
list.pop(1)

#sort()
list.sort()

#reverse()
list.reverse()

In [72]:
"""
lambda functions

1.

"""
#lambda too add 2 numbers
add = lambda x,y:x+y
print(add(2,3))

#lamda with map()
num = [1,2,3,4,5]
square = list(map(lambda x:x**2,num))
print(square)

5

TypeError: 'list' object is not callable