In [ ]:
# prompt: print range of first 20  no

for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#write a code of table of 5

for i in range(5,55,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#write a code print vowels?(capital and small letters)
vowel = ['A','E','I','O','U','a','e','i','o','u']
print(vowel)

['A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u']

In [ ]:
#wap to print area of circle
l = eval(input("enter the length"))
b = eval(input("enter the breadth"))
area = l*b
print("the are is =",area)

enter the length6
enter the breadth5
30

In [ ]:
#wap to print area of circle
r = eval(input("enter the radius"))
area = 3.14*r*r
print("the are is =",area)

enter the radius10
the are is = 314.0

In [ ]:
# prompt: write a code to print your name , course name , college name and email address

name = input("Your Name")
course_name = input("Your Course Name")
college_name = input("Your College Name")
email_address = input("your.email ")

print("Name:", name)
print("Course Name:", course_name)
print("College Name:", college_name)
print("Email Address:", email_address)

Your Namesiddhant
Your Course Nameaids
Your College Namewctm
your.email siddhant70@gmail.com
Name: siddhant
Course Name: aids
College Name: wctm
Email Address: siddhant70@gmail.com

In [ ]:
#write a code to print all non vowels in given string
string = input("enter the string")
vowels = ["a","e","i","o","u","A",'E','O','U','I']
for i in string:
  if i not in vowels:
    print(i)

enter the stringwow pop
w
w

p
p

In [ ]:
#wap to display the defination of python with example
print("Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.")

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.

In [ ]:
#wap to display the odd/even number
num = eval(input("enter the number"))
if num%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter the number20
the number is even

In [ ]:
#wap a code to show the largest number?
a = eval(input("enter the first the number"))
b = eval(input("enter the second the number"))
if a>b:
  print("first is largest")
else:
  print("second is largest, i,e :",b)

enter the first the number40
enter the second the number59
second is largest, i,e : 59

In [ ]:
a,b=10,20
min = a if a<b else b
max =a if b<a else b
print(min)
print(max)

10
20

In [ ]:
x,y=24,20
list = [10,20,30,40,50]
if x  not in list:
  print('x not in list')
else:
  print('x in list')

if y  not in list:
  print('y not in list')
else:
  print('y in list')

x not in list
y in list

In [ ]:
expr = 10+20*30
print(expr)
name='Alex'
age=0

if name=='Alex' or name=='John' and age>=2:
  print('Hello!Welcome.')

else:
  print('Good Bye')

610
Hello!Welcome.

In [9]:
name="madhavi"
age=0

if name=="madhavi" or name=="rahul" and age>=2:
  print("hello welcome")

else:
  print("good bye")

hello welcome

In [10]:
name="anup" or name=="ajay"
print("good bye")

good bye

In [11]:
print(100/ 10*10)
print(5-2-3)
print(5-10*2)

100.0
0
-15

In [13]:
print(100*20-50)
print(70-9-80)
print(50/2)

1950
-19
25.0

In [16]:
print(4444%98)
print(557%34)

34
13

In [17]:
print(76_98-300)

7398

In [ ]:
#write